.city-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	row-gap: 10px;
	width: 500px;
}

.city-form__error {
	color: var(--danger);
	font-size: var(--text-sm);
	grid-column: span 2;
}

.current-weather {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	width: 500px;
}

@media (max-width: 1000px) {
	.city-form {
		display: flex;
		flex-direction: column;
		width: 300px;
	}

	.current-weather {
		display: flex;
		flex-direction: column;
		width: 300px;
	}
}
