@import url('https://fonts.cdnfonts.com/css/satoshi');

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--text-lg: 1.6rem;
	--text-md: 1.3rem;
	--text-sm: 0.9rem;
}

body {
	background: var(--bg-dark);
	color: var(--text);
	font-family: 'Satoshi', sans-serif;
	font-size: var(--text-md);
}

.button,
.input {
	background: var(--bg-dark);
	border: 1px solid var(--border-muted);
	border-radius: 0.5rem;
	color: var(--text-muted);
	font-family: 'Satoshi', sans-serif;
	font-size: var(--text-md);
	outline: none;
	padding: 0.5rem;
	transition:
		color 0.3s ease-in-out,
		background-color 0.3s ease-in-out;
	transition-delay: 50ms;
	width: 100%;
}

.button {
	border: none;
	box-shadow: var(--shadow);
	cursor: pointer;
	padding: 0.5rem 3rem;
}

.button:hover {
	background: var(--primary);
	color: var(--bg-dark);
}

.card {
	background: var(--gradient);
	border: var(--border-card);
	border-radius: 0.5rem;
	border-top: 1px solid var(--highlight);
	box-shadow: var(--shadow);
	margin-bottom: 10vh;
	padding: 1rem;
}

.card:hover {
	background: var(--gradient-hover);
}

.combobox {
	position: relative;
}

.combobox--opened {
	border-radius: 0.5rem 0.5rem 0 0;
}

.combobox__option {
	color: var(--text-muted);
	cursor: pointer;
	transition: color 0.2s ease-in-out;
}

.combobox__option:hover {
	color: var(--primary);
}

.combobox__options {
	background: var(--bg-dark);
	border-bottom: var(--border-card);
	border-left: var(--border-card);
	border-radius: 0 0 0.5rem 0.5rem;
	border-right: var(--border-card);
	border-color: var(--border-muted);
	display: none;
	padding: 0.5rem;
	position: absolute;
	width: 100%;
	z-index: 30;
}

.container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
	min-height: 60vh;
	width: 100%;
}

.field {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.header {
	align-items: center;
	display: flex;
	height: 10vh;
	justify-content: center;
	left: 50%;
	max-width: 1200px;
	position: relative;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
}

.input:focus,
.input:hover {
	border-color: var(--border);
}

.label {
	color: var(--text-muted);
	font-size: var(--text-sm);
}

.link {
	color: var(--secondary);
	font-weight: bold;
	transition: color 0.3s ease-in-out;
}

.link:hover {
	color: var(--primary);
}

.modal {
	display: none;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 60;
}

.modal--open {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.modal-backdrop {
	background: oklch(0% 0 0 / 0.8);
	display: none;
	height: 100%;
	inset: 0;
	position: absolute;
	width: 100%;
	z-index: 50;
}

.select {
	cursor: pointer;
}

.theme {
	background: none;
	width: 200px;
	transition: color 0.3s ease-in-out;
	font-family: 'Satoshi', sans-serif;
	font-size: var(--text-sm);
	color: var(--text-muted);
	border: none;
	outline: none;
	cursor: pointer;
}

.theme:hover {
	color: var(--primary);
}

.navigation {
	margin-top: 200px;
}

@media (max-width: 1000px) {
	:root {
		--text-lg: 1.2rem;
		--text-md: 1.1rem;
		--text-sm: 0.9rem;
	}

	.button {
		padding: 0.3rem 1rem;
	}
}

@media (max-width: 500px) {
	:root {
		--text-lg: 1.1rem;
		--text-md: 0.9rem;
		--text-sm: 0.75rem;
	}
}
